* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6DB1BF;
}
.new-location {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
}

.new-location-form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
    background-color: #C1CAD6;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    outline: none;
    color: #FFF;
}

input[type="text"]::placeholder {
    text-transform: uppercase;
    color: #FFF;
}

.new-location-city,
.new-location-latlng {
    display: flex;
    justify-content: space-between;
}

input[name="postalcode"] {
    width: 34%
}

input[name="city"] {
    width: 64%
}

input[name="latitude"],
input[name="longitude"] {
    width: 49%;
}

.new-location-heading {
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    color: #FFF;
}

.new-location-form {
    display: flex;
    flex-direction: column;
}

.new-location-icons {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.new-location-icons-heading {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #EEE;
}

.new-location-icons-img {
    margin-top: 1.5rem;
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.new-location-icon {
    cursor: pointer;
}

.new-location-icons-text {
    margin-top: 0.3rem;
    text-align: center;
    padding-bottom: 0.3rem;
}

div img:not(.footer-logo-img) {
    display: block;
    margin-top: 1.5rem;
    margin: 0 auto;
    max-height: 3.125rem;
    height: 2.8125rem;
}

.new-location-button {
    padding: 1rem 2rem;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50px;
    color: #6DB1BF;
    background-color: #C1DDD8;
}

input[type='checkbox'] {
    display: none;
    -webkit-appearance: none;
}

input[type='checkbox'] ~ .new-location-icons-text {
    border-bottom: 5px solid transparent;
    margin:  auto;
}

input[type='checkbox']:checked ~ .new-location-icons-text {
    position: relative;
    width: 100px;
    border-bottom: 3px solid #C1CAD6;
}