* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 100%;
}

#map {
	height: 80vh;
	max-height: 80vh;

}

/* Popup */

.street-address {
	display: block;
	font-size: 0.75rem;
	font-weight: normal
}

.other-address {
	font-size: 0.75rem;
	font-weight: normal
}

.ammenities-icons {
	display: inline-block;
	margin-top: 10px;
	padding-left: 15px;
	height: 20px;
	cursor: pointer;
}

.ammenities-icons:first-of-type {
	padding: 0;
}

/* Sidebar */

.sidebar,
.sidebar:active,
.sidebar:focus
.sidebar:hover {
	display: none;
	position: absolute;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	right: 0;
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 250px; /* Set the width of the sidebar */
	z-index: 9999; /* Stay on top */
	background-color: #FFF; /* Black */
	overflow: hidden; /* Disable horizontal scroll */
	opacity: 0.9;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	transition: all 2s ease-in-out;
}

.close-sidebar {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.sidebar-image {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.sidebar-image img {
	margin: .5rem auto;
	height: 30px
}

.sidebar-title {
	text-align: center;
	font-weight: 600;
}

.sidebar-description {
	text-align: center;
	margin-top: .5rem;
	padding: 0 .5rem;
}
/* Footer */
.footer {
	height: 20vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #C1DDD8;
	border-top: 3px solid #FFF;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
}

.footer-logo-img {
	height: 75px;
}

.footer-logo-text {
	font-weight: 600;
	color: #616F6C;
	margin-top: 1rem;
}

.footer-logo-title {
	font-size: 1.5rem;
	text-align: center;
}
.footer-logo-subtitle {
	font-size: .88rem;
	line-height: .8rem;
	text-align: right;
	color: #616F6C;
	letter-spacing: .5px;
}

.footer-location {
	border: none;
}

.footer-location-add-new {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: 1rem 1rem;
	border: none;
	cursor: pointer;
	background: none;
	color: #616F6C;
}

a,
a:active,
a:focus {
	color: #616F6C ;
	text-decoration: none;
}
a:hover {
	color: #808684 ;
}


.footer-location-separator {
	font-size: 1.5rem;
	font-weight: 700;
	padding: 1rem 0;
	color: #FFF;
}

.footer-location-edit {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: 1rem 1rem;
	border: none;
	cursor: pointer;
	background: none;
	color: #616F6C ;
}

.footer-contacts {
	margin-right: 1.865rem;
}